$accentColor: #B8860B;

.beerCardContainer {
  border: 1px solid $accentColor;
  background: #FFF;
}

.beerCardImage {
  height: 290px;
  padding: 20px;
  background: $accentColor;
}

.beerImage {
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

.beerCardContent {
  padding: 15px;
}

.beerCardTitle {
  padding: 0 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.beerCardSubtitle {
  font-weight: bold;
}
