$accentColor: #B8860B;

.card {
  border: 1px solid $accentColor;
  background: #FFF;
}

.cardImage {
  background: $accentColor;
  padding: 20px;
}

.image {
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

.cardContent {
  padding: 15px;
}

.title {
  padding: 0 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
}
