$errorColor: #CE1126;

.errorContainer {
  min-height: 40px;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.errorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  color: #FFF;
  background: $errorColor;
  border: 1px solid $errorColor;
}

.errorText {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: $errorColor;
  font-weight: bold;
  background: #FFF;
  border: 1px solid $errorColor;
}
