$accentColor: #B8860B;

.modal {
  position: fixed;
  top: 45vh;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 600px;
  max-height: 600px;
  width: 80%;
  padding: 15px;
  background: white;
  z-index: 9999;
  outline: 9999px solid rgba(0, 0, 0, .7);
  overflow-y: scroll;
}

.modalHeader {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $accentColor;
}

.modalTitle {
  padding-right: 15px;
}

.closeModal {
  cursor: pointer;
}

.modalContent {
  border-bottom: 1px solid $accentColor;
}

.modalSubtitle {
  padding: 20px 0 10px 0;
  font-weight: bold;
}

.modalList {
  padding: 0 0 20px 30px;
}
