.title {
  margin: 15px 20px 45px;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 15px;
  list-style-type: none;
}
